<% layout ("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Your listing</h3>
            
            <form method="POST" action="/Listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data" >
                <div class="mb-3">
                    <label for="title" class="form-label"> Title </label> 
                    <input name="vlisting[title]"value=" <%= listing.title %>" type="text" class="form-control"  required/>
                    <div class="valid-feedback">Title Looks good</div>
                </div>
        
        <div class="mb-3">
            <label for="description" class="form-label"> Description </label> 
        
            <textarea name="vlisting[description]"
                class="form-control" required> <%= listing.description  %> </textarea>
                <div class=" invalid-feedback">Enter a valid description</div>

        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"> Price </label>
                <input name="vlisting[price]" value="<%= listing.price %>" type ="number" class="form-control" required> 
                <div class=" invalid-feedback">Set a valid price</div>   
            </div>
        
               <div class="mb-3 col-md-8">
                <label for="country" class="form-label"> Country </label>
                <input name="vlisting[country]" value="<%= listing.country %>" type="text" class="form-control" required> 
                <div class=" invalid-feedback">Country should be valid!</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image </label>
            <input name="vlisting[image]"  type="file" class="form-control"> 
            
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label"> Location </label>
            <input name="vlisitng[location]" value="<%= listing.location %>" type="text" class="form-control" required>
            <div class=" invalid-feedback">Location should be valid!</div>
        </div>
        <div> 
            <button class="btn btn-dark add-btn">UPDATE</button>
        </div>
    <br><br>
        
    
        </form>
    </div>
    
    
    </body>
    


        
            
               
               
               
            
           
             
